.product{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 4rem;
}
.product__slider, .product__details{
    width: 50%;
    height: 100%;
}
.big-image{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.small-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-image {
    flex: 1;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    max-width: 100%;
    height: auto;
}
